# =============================
# Python & Virtual Environments
# =============================
*.pyc
*.pyo
__pycache__/
*.egg-info/
.venv/
venv/

# =============================
# Compiled Binaries & Objects
# =============================
bin/
cpp/obj/
cpp/src/*.o
*.o
*.a

# =============================
# PyTorch Checkpoints & Models
# =============================
models/
*.pt
*.ckpt
*.azw3
chapters_clean_txt/
chapters_txt/

# =============================
# Output Audio & Logs
# =============================
outputs/
*.wav
*.mp3
*.log
*.tmp
.DS_Store
.env
hf_space/

